

.content{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
    background-image: url(./landscape.jpg);
    background-position: center;
    background-size: cover;
}


.left{
    width: 40vw;
    background-image: url(./landscape.jpg);
    background-position: center;
    background-size: cover;
}

.right{
    width: 60vw;
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.sigil{
    height: 15vh;
}

h1{
    color: white;
}

.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
    padding-left: 3vw;
}
    
.form{
    padding-left: 3vw;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

.form-title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}
